

 
<div class="card" style="width: 20rem;">
  <div class="card-header">
    รายละเอียดสิทธิการรักษา
  </div>
  <div class="card-block"  >
    <ul class="list-group list-group-flush"  *ngFor="let item of items">
      <li class="list-group-item">  รหัสสิทธ  : {{item.pttype}}</li>
      <li class="list-group-item">  ชื่อสิทธิ   : {{item.name}} </li>
      <li class="list-group-item">  รหัสสิทธิบัญชี :{{item.ksn_debt_id}} </li>
      <li class="list-group-item">  สิทธิบัญชี  :{{item.pttype_main}}</li>
    </ul>
  </div>
</div>




