

 <div class="container-fluid" align="center" >
   
 
<div class="card" >
  <div class="card-header bg-success text-white" >
    รายละเอียดสิทธิการรักษา
  </div>
  <div class="card-block"  >
    <ul class="list-group list-group-flush"  *ngFor="let item of items">
      <li class="list-group-item">  รหัสสิทธ  : {{item.pttype}}</li>
      <li class="list-group-item">  ชื่อสิทธิ   : {{item.name}} </li>
      <li class="list-group-item">  รหัสสิทธิบัญชี :{{item.ksn_debt_id}} </li>
      <li class="list-group-item">  สิทธิบัญชี  :{{item.pttype_main}}</li>
    </ul>
  </div>
</div>

<div class="form-group has-success">
  <label class="form-control-label" for="inputSuccess1">Input with success</label>
  
  <select class="custom-select"  [(ngModel)]="name">
    <option selected >Open this select menu</option>
    <option value="{{item.pttype_money_id}}" *ngFor="let item of pttypemain">{{item.pttype_money_name}}</option>
  </select>
<button type="button" name="" id="" class="btn btn-danger "(click)="Adddebt(name)">บันทึก</button>
</div>

{{name}}
</div>





